.navbar {
  background-color: rgb(201, 248, 248);
  z-index: 1000;
  height: 7vh;
  min-height: 60px;
}

.links {
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.linkButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  color: rgb(105, 101, 101);
  height: 7vh;
  min-height: 60px;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
  margin: 0 2rem;
}

@media screen and (max-width: 700px) {
  .link {
    margin: 0 0.5rem;
  }
}

.link:hover {
  backdrop-filter: brightness(115%);
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(105, 101, 101);
  text-decoration: none;
  margin: 0.2rem 0;
  height: 3rem;
  width: 9rem;
}

.caret {
  margin-left: 0.3rem;
}

.logButtonDiv {
  display: flex;
  justify-content: space-around;
}

.logButton {
  color: rgb(105, 101, 101);
  text-decoration: none;
  font-weight: 700;
  margin-left: auto;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.hidden {
  display: none;
}