.date {
  text-align: center;
  margin-top: 4vh;
}

.calories {
  text-align: center;
  margin-top: 1rem;
}

.mealRow {
  margin: 2rem 0;
  display: grid;
}

.mealName {
  color: white;
  font-size: 1.2rem;
}

.recipe {
  border-radius: 100px;
  padding: 0.1rem 0.5rem;
  margin: 0.1rem 0.5rem;
  background-color: rgb(255, 255, 255);
  width:max-content;
  color: #2acc68;
  font-weight: 700;
  cursor: pointer;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(105, 101, 101);
  text-decoration: none;
  margin: 0.2rem 0;
  height: 3rem;
  width: 9rem;
}

.deleteButton {
  display: flex;
  justify-content: center;
}